body {
	padding: 0px;
	margin: 0px;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
}

a {
	text-decoration: none;
}

header{
    height: auto;
    background: LightBlue;
}
nav > .nav-block{
    z-index: 200;
    width: 1200px;
    vertical-align: middle;
    text-align: right;
    padding-top: 20px;
    margin: auto;
    border-bottom: 2px solid #ffffff4f;
    display: flex;
    justify-content: space-between;
}

nav > .nav-block > div > a {
    margin: 0 18px 0 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000000eb;
    transition: all 0.3s;
    top: 2px;
    position: relative;
    font-size: 24px;
    z-index: 200;
}

nav > .nav-block > div > a:hover {
	text-decoration:none;
    color: #5fa2e8;
    transition: all 0.3s;
}

.title {
	font-size: 27px;
	margin: 0;
}

